<div id="updown"> 
<div class="sidebar_wo" id="leimu">
<img src="<%= url_for(theme.leimu1)%>" alt="雷姆" onmouseover="this.src='<%= url_for(theme.leimu2)%>'" onmouseout="this.src='<%= url_for(theme.leimu1)%>'" id="audioBtn">
</div>
<div class="sidebar_wo" id="lamu">
<img src="<%= url_for(theme.lamu1)%>" alt="雷姆" onmouseover="this.src='<%= url_for(theme.lamu2)%>'" onmouseout="this.src='<%= url_for(theme.lamu1)%>'" id="audioBtn">
</div>
<script>
   $(function(){
        $("#updown > #lamu img").eq(0).click(function(){$("html,body").animate({scrollTop :0}, 800);return false;});
        $("#updown > #leimu img").eq(0).click(function(){$("html,body").animate({scrollTop : $(document).height()}, 800);return false;});
      });
</script>