<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
  	<div class="ibody">
  		<div class="container">
  			<%- partial('_partial/header') %>
  			<main class="main">
  				<%- body %>
  				</main>
  			</div>
  	</dic>
<%- partial('_partial/leimu') %>
<%- partial('_partial/footer') %>
  </body>
</html>